{% extends 'base.html.twig' %}

{% block title %}Ticket index{% endblock %}

{% block body %}
    <h1>Liste des tickets</h1>

    <table class="table table-bordered table-hover">
        <thead class="table-secondary">
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.id }}</td>
                <td>{{ ticket.label }}</td>
                <td>{{ ticket.description }}</td>
                <td class="d-md-flex justify-content-md-around">
                    <a class="btn btn-secondary btn-sm col mx-2" href="{{ path('app_ticket_show', {'id': ticket.id}) }}">voir</a>
                    <a class="btn btn-secondary btn-sm col mx-2" href="{{ path('app_ticket_edit', {'id': ticket.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun ticket trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('app_ticket_new') }}">Nouveau ticket</a>
{% endblock %}
